*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    

}
body{
    background: rgb(225, 23, 90);
    color:white;
}
.container{
    margin: 15%;
    width: 90%;
    max-width: 700px;
    font-size: 40px;
}
.display{
   width: 100%;
   margin-top:50px;
   margin-bottom: 30px;
   background: black;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 26px 20px;
   border-radius: 5px;
}
